.environment-container {
	display: flex;
	width: 100%;
	justify-content: center;
}

.sw-container {
	margin: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.character-container {
	box-sizing: border-box;
	width: 30%;
	border: 1px solid #443e3e;
	margin: 20px;
	padding: 20px;
	background-color: #443e3e;
	color: white;
	border-radius: 10px;
}

@media (max-width: 1200px) {
	.character-container {
		width: 40%;
	}
}

@media (max-width: 700px) {
	.character-container {
		width: 90%;
	}
}
